[access]
	inheritFrom = AIA
[access "refs/*"]
	owner = group CI_Infrastructure_ENM_admin
	create = group aia_guard
	createTag = group aia_guard
	forgeCommitter = group aia_guard
	label-Code-Review = -2..+2 group aia_guard
	label-Verified = -1..+1 group aia_guard
	rebase = group aia_guard
	submit = group aia_guard
[access "refs/for/refs/heads/master"]
	pushMerge = group aia_guard
[access "refs/heads/master"]
	push = group aia_guard
